# Valores para src/environments/environment.prod.ts
# Copia este archivo, renómbralo a .env y rellena los valores ANTES de hacer ng build

API_URL=https://<tu-dominio>/api
WS_URL=https://<tu-dominio>
